{{ block "content" . }}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>formatted</title>
        <link rel="stylesheet" href="/css/style.css" />
        <style>
            .container {
                max-width: 600px;
                margin: 0 auto;
            }
        </style>
    </head>
    <body>
        <div class="container">
            {{ range .content }}
            <p>{{ . }}</p>
            {{ end }}
        </div>
    </body>
</html>
{{ end }}
